/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 [v-cloak]{
     display: none;
 }

 .validation-message{
     list-style: none;
 }
.task-title{
    list-style: none;
    font-size: 19px;
    background-color: #aaaa;
    padding: 15px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
}
.task-title:hover{
    opacity: 0.5;
}
.hidden{
    display: none;
}

.input-task-title{
    width: 77%;
    height: 40px;
    font-size: 19px;
    border: none;
    border-bottom: solid 1px #ccc;
    margin: 10px;
}

.submit-btn{
    color: #000;
    background-color: #fff100;
    border: none;
    border-bottom: 5px solid #ccc100;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 5px;
}
.submit-btn:hover{
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
    transform: translate(0px, 3px);
}
.delete-btn{
    color: #000;
    background-color: #ff4800;
    border: none;
    border-bottom: 5px solid #b34201;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 5px;
}
.delete-btn:hover{
    margin-top: 3px;
    color: #000;
    background: #ff480a;
    border-bottom: 2px solid #b34201;
    transform: translate(0px, 3px);
}





/* modal */
.modal {
    display: none;
    text-align: center;
    position: absolute;
    width: 70%;
    height: auto;
    padding: 70px 40px 0px 40px;
    top: 50%;
    left: 50%;
    border: 5px solid #dad138;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: rgba(238, 238, 238, 0.869);
    border-radius: 4px;
    min-height: 450px;
    z-index: 200;
}
.modal-content{
    text-align: center;
}
#modal-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.input-edit, #state, #priority, #job_id{
    width: 90%;
    height: 40px;
    margin: 10px;
    display: inline-block;
}